body {
  margin: 0px;
  background-color: darkgreen;
}

canvas {
  background-image: url("images/IMG_5288.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

img {
  display: none;
}
